<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>AltTxt -- An Alt Text Generator Playground</title>
    <link rel='stylesheet' href='{{ url_for("static", path="/css/libs.bundle.css") }}'>
    <link rel='stylesheet' href='{{ url_for("static", path="/css/theme.bundle.css") }}'>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='card'>
            <div class='card-body'>
              <div class='mb-3'>
                <input class='form-control form-control-sm' type='file' />
              </div>
              <div class='mb-3'>
                <input class='form-control form-control-sm' type='file' />
              </div>
              <button class='btn btn-sm btn-primary'>Generate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='{{ url_for("static", path="/js/vendor.bundle.js") }}'></script>
    <script src='{{ url_for("static", path="/js/theme.bundle.js") }}'></script>
  </body>
</html>
