<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>AltTxt -- An Alt Text Generator Playground</title>
    <link rel='stylesheet' href='{{ url_for("static", path="/css/libs.bundle.css") }}'>
    <link rel='stylesheet' href='{{ url_for("static", path="/css/theme.bundle.css") }}'>
  </head>
  <body>
    <div class='container'>
      Hello, world!
    </div>
    <script src='{{ url_for("static", path="/js/vendor.bundle.js") }}'></script>
    <script src='{{ url_for("static", path="/js/theme.bundle.js") }}'></script>
  </body>
</html>
