.DS_Store
.cache/
.mypy_cache/
.pytest_cache/
.coverage/
.tox/
venv/
src/alttxt.egg-info/
src/alttxt/__pycache__/
tests/__pycache__/
build/
/.vs
/dist
/env
src/upset_alttxt.egg-info
.vscode/
.coverage
